*{
    box-sizing: border-box;
    text-decoration: none;
   
}

header {
    display: flex;
    justify-content: space-between;
}

.menu{

    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    margin-top: 25px;
    gap: 30px;
    margin-right: 8%;
}
.banner{
    width: 100%;
}
main h1 {
    text-align: center;
}

.corpo{
    text-align: center;
    
}

.imgcorpo{
    margin:4%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 4%;
    
}
.sapato{
    background-color: #C2185B;
    color: black;
}
.offer{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}
.titulo{
    text-align: center;
    color: white;
    background-color: #C2185B;
    padding: 10px;
    margin-bottom: 0;
}

.sapato p {
    background-color: white;
    width: 267px;
    
}
.sapato a{
    background-color: aliceblue;
    width: 267px;
}
.sapato h4{
    background-color: white;
}


.corpo2{
    text-align: center;
}
.testelink{
    color: white;
    background-color: #C2185B;
    padding: 7px 30px 7px 30px;
    margin-bottom: 20px;
}

.corpo2img1{
    margin-top: 10%;
    position: relative;
}

.titulo2{
    margin-top: 10%;
    text-align: center;
}

.corpo2 img {
    margin-left: 4.5% ;
    margin-right:¨4.5% ;
}
