header {
    border: 2px solid black;
    display: flex;
    margin: 2%;
    justify-content: space-between;
    
}

.talvez {
    display: flex;
    align-items: initial;
    white-space: nowrap;
    margin: 2%;
    margin-right: 15%;
    

    
}
header{
    font-family: open;
   
}
header img {
    margin-left: 2%;
    width: 15%;
}

header a{

    margin: 5%;
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

header h1 {
    text-align: end;
 
    
}

.banner{
    width: 100%;
    margin-bottom: 5%;
}

body h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
  
}

.corpo{
   
    text-align: center;
    margin: 10%;
}

.offer{
    background-color:  #C2185B;
    display: flex;
    padding: 5%;
    justify-content: space-evenly;

}

.titulo{
    background-color: #C2185B;
    margin-bottom: -1%;
    padding-top: 2%;
    
}

a {
    text-decoration: none;
    color: black;
}
.sapato1{
    background-color: white;
    text-align: center;  
    display: flex;
    flex-direction: column-reverse;

}

.sapato2{
    background-color: white;
    text-align: center;  
    display: flex;
    flex-direction: column-reverse;
    
}
.sapato3{
    background-color: white;
    text-align: center;  
}
.sapato4{
    background-color: white;
    text-align: center;  
}

.corpo2 {
    text-align: center;
    margin: 2%;
    
}

.teste{
    
    position: relative;
    right: 13%;
    top: 130px;
}

.testelink{
    
    position: relative;
    right: 13%;
    top: 160px;
    text-decoration: none;
    padding: 1%;
    background-color: #C2185B;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

body a {
    font-family: 'Open Sans', sans-serif;

}
