*{
    box-sizing: border-box;
    text-decoration: none;
   
}
header{
    background-color: white;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 5px;
    top: 30%;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
   
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: white;
    
  }
.menu{

    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    margin-top: 25px;
    gap: 30px;
    margin-right: 10px;
}
.banner{
    width: 100%;
}
main h1 {
    text-align: center;
}

.corpo{
    text-align: center;
    
}

.corpo img{
    margin:4%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 4%;
    width: 80%;
    
}
.sapato{
    background-color: #C2185B;
    color: black;
    
}
.offer{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}
.titulo{
    text-align: center;
    color: white;
    background-color: #C2185B;
    padding: 10px;
    margin-bottom: 0;
}

.sapato img{
    
    width: 80%;
}

.sapato p {
    background-color: white;
    margin-top: -1px;
    margin-left: 10%;
    text-align: center;
    width: 80%;
    
}
.sapato a{
    background-color: aliceblue;
    color: black;
}
.sapato h4{
    background-color: white;
}


.corpo2{
    text-align: center;
    
}
.testelink{
    color: white;
    background-color: #C2185B;
    padding: 7px 30px 7px 30px;
    margin-bottom: 20px;
}

.titulo2{
    margin-top: 10%;
    text-align: center;
}

.corpo2 img {
    margin:4%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 4%;
    width: 80%;
}

footer {
    padding-right:  10%;;
    padding-left: 4%;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #C2185B;
    text-align: start;
    color: white;
    display: flex;
    max-width: 100%;
    
}

footer ul {
    list-style: none;
    margin-inline-end: -20px;
}

footer a {
    color: white;
}

footer h3 {
    text-align: start;
}

footer img {
    width: 100px;
    margin-top: -6%;
}

footer nav {
    margin-left: -30px;
    white-space: nowrap;
    display: flex;
    font-size: xx-small;
    
}
footer nav strong{
    font-size: small;

}

.textofooter p {
    font-size: xx-small;
    margin-top: -10%; 
}


@media (min-width:1250px){

.corpor img {
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 4%;
    

}
.imgcorpo1 {
    max-width:400px;
}
.imgcorpo2{
    max-width: 600px;
}
body {
    background-color: yellow;
}
.offer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #C2185B;
    padding: 1%;
    gap: 3%;
    
}
.sapato img{
    width: auto;

}
.sapato p {
    width: 100%;
    margin-left: 0%;
    text-align: start;
    padding: 5%;
}
.corpo2 {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: end;
    
}
.preços{
    text-align: center ;
    

}

.corpo2img1{
    max-width: 513px;
    max-height: 663px;
    margin-top: 10%;
   
        
}
.testelink{
    font-size: 30px;
    color: white;
    background-color: #C2185B;
    padding: 17px 60px 17px 60px;
    margin-bottom: 20px;
    position: absolute;
    top: -94px;
    white-space: nowrap;
    left: 50px;    
    
}
.titulo2{
    font-size: 30px;
    position: absolute;
    text-align: start;
    top: -258px;
    left: 50px;
    
    
}
.container{
    align-self: auto;
    position: relative;
   
      
}
.corpo2img2 {
    max-width: 507px;
    
}
.titulo {
    padding-top: 2%;

}
footer {
    padding: 30px;
    background-color: #C2185B;
    text-align: start;
    color: white;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    
}

footer ul {
    list-style: none;

}

footer a {
    color: white;
}

footer img {
   width: 396px;
   height: 204px;
   
    
}

footer nav {
   
    white-space: nowrap;
    display: flex;
    font-size: x-large;
    
}
footer nav strong{
    font-size: xx-large;

}


.textofooter p {
    font-size: 25px ;


}


}